<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta name='keywords'
          content='古镇, 棒球, 安吉, 公司团建, 帆船, 东钱湖, 定制旅行, 骑行, 漂流, 皮划艇, 太湖, 趣味团建, 千岛湖, 徽杭古道, 华莱坞电影城, 户外, 宁海古道, 拈花湾, 莫干山, 夏季团建, 乌镇, 团建策划, 主题团建, 周年庆, 员工生日会, 团队旅行, 徒步, 红色主题, 北京团建, 黄花水长城, 皮划艇, 团队旅行, 团建策划, 团建主题, 古北水镇团建, 球棒, 公司团建, 怀柔, 团队定制, 鱼悦团建, 北京鱼悦团建，上海鱼悦团建'>
    <title>鱼悦团建</title>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= context.config.publicPath + 'apple-touch-icon.png' %>"/>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= context.config.publicPath + 'favicon-32x32.png' %>"/>
    <link rel="icon" type="image/png" sizes="16x16" href="<%= context.config.publicPath + 'favicon-16x16.png' %>"/>
    <meta name="theme-color" content="#ffffff"/>
    <script>
      var _hmt = _hmt || [];
      ( function() {
        var hm = document.createElement( 'script' );
        hm.src = 'https://hm.baidu.com/hm.js?9567be8c538413c5b743a2599f6c711d';
        var s = document.getElementsByTagName( 'script' )[ 0 ];
        s.parentNode.insertBefore( hm, s );
      } )();
    </script>
    <!--
 <script type="text/javascript">
      /*window._agl = window._agl || [];
      (function () {
        _agl.push(
                ['production', '_f7L2XwGXjyszb4d1e2oxPybgD']
        );
        (function () {
          var agl = document.createElement('script');
          agl.type = 'text/javascript';
          agl.async = true;
          agl.src = 'https://fxgate.baidu.com/angelia/fcagl.js?production=_f7L2XwGXjyszb4d1e2oxPybgD';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(agl, s);
        })();
      })();*/
    </script>
    -->
</head>
<body>
<noscript>Out-of-the-box mid-stage front/design solution!</noscript>
<div id="root"></div>
</body>
</html>
