<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>鱼悦团建</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name='keywords' content='鱼悦团建, 团队定制, 团建策划, 主题团建, 北京鱼悦团建，上海鱼悦团建, 夏季团建, yuyuetuanjian.com'>
    <meta name='description' content='鱼悦团建是一站式团建服务提供商，以“老板放心 员工开心”为使命，致力于实现员工感情与企业文化的同步融合、发展。'>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= context.config.publicPath + 'apple-touch-icon.png' %>"/>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= context.config.publicPath + 'favicon-32x32.png' %>"/>
    <link rel="icon" type="image/png" sizes="16x16" href="<%= context.config.publicPath + 'favicon-16x16.png' %>"/>
    <meta content="always" name="referrer">
    <meta name="application-name" content="鱼悦团建"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--
 <script type="text/javascript">
      /*window._agl = window._agl || [];
      (function () {
        _agl.push(
                ['production', '_f7L2XwGXjyszb4d1e2oxPybgD']
        );
        (function () {
          var agl = document.createElement('script');
          agl.type = 'text/javascript';
          agl.async = true;
          agl.src = 'https://fxgate.baidu.com/angelia/fcagl.js?production=_f7L2XwGXjyszb4d1e2oxPybgD';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(agl, s);
        })();
      })();*/
    </script>
    -->
</head>
<body>
<div id="root"></div>
<script>
  var _hmt = _hmt || [];
  ( function() {
    var hm = document.createElement( 'script' );
    hm.src = 'https://hm.baidu.com/hm.js?9567be8c538413c5b743a2599f6c711d';
    var s = document.getElementsByTagName( 'script' )[ 0 ];
    s.parentNode.insertBefore( hm, s );
  } )();
</script>
</body>
</html>
